* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;

}

:root 
{
    /* colors */
    --hue: 159;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);
}



.header {
	border-bottom: 1px solid darkblue;
	margin-bottom: 2rem;
	display: flex;
	position: fixed;
	width: 100%;
}

nav{
    display: flex;
	margin-bottom: 5rem;
	border-bottom: 1px solid gray;
	height: 3.75rem;
}

nav a {
	font-family: Montserrat	;
	margin-right: 0.625rem;
}